.single-works {
    position: relative;
}

.single-works__bg {
    padding: 140px 0 0;
}

.single-works__inner {
    margin: 120px 0 0;
}

.single-works__title {
    font-size: vw(52);
    font-weight: bold;
}

.single-works__thumbnail {
    width: 100%;
    height: vw(600);
    margin: 32px 0 0;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.single-works__content {
    margin: 52px 0 0;
}
