html {
  font-size: 1.6667vw; // 1rem = 1grids
}

body {
  font-family: $font-yugo;
  color: $color-white;
  background-color: $color-black;
}

.container {
  width: 46rem;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: auto;
}
