// breakpoints
$breakpoints: (
    "sm": 640px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1420px,
);

// design size
$design-size: (
    "pc-width": 1440,
    "pc-height": 800,
    "sp-width": 750,
    "sp-height": 1334,
);

// colors
$color-green: #22a699;
$color-yellow: #f2be22;
$color-orange: #f29727;
$color-red: #f24c3d;
$color-white: #ffffff;
$color-black: #1a1a1a;

// fonts
$font-yugo: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "sans-serif";

// animations
$duration-short: 0.3s;
$duration-base: 0.4s;
$duration-full: 0.6s;

// easing
$easing-transform: cubic-bezier(0.43, 0.05, 0.17, 1);
$easing-material: cubic-bezier(0.26, 0.16, 0.1, 1);
