.helper-grid {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.2;

    &.is-hidden {
        display: none;
    }
}

.helper-grid__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: red;
}
