.archive-works {
	position: relative;
}

.archive-works__bg {
	padding: 140px 0 0;
}

.archive-works__inner {
	margin: 120px 0 0;
}

.archive-works__list {
	display: grid;
	grid-template-columns: repeat(3, 14rem);
	gap: 2rem;
}

.archive-works__text {
	font-size: vw(17);
	line-height: 1.6;
	letter-spacing: 0.02em;
}

.archive-works__text + .archive-works__text {
	margin: 32px 0 0;
}

.archive-works__pagination {
	margin: 120px 0 0;
}
